div.bars {
    background-color: #dd9;
    margin: 5px;
    font-size: 25px;
    color: #007;
    padding: 10px;
    width: 100px;
}

/* shapes svg */
.bgcolor {
	background-color: #FFD39B;
}

/*  Linechart styles */

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}
	
/* Shape Creation */
.axis {
font-color: #474747;
}

.axis path, .axis line {
fill: none;
stroke: #474747;
shape-rendering: crispEdges;
}